<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${  #httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() }"/>
    <meta charset="UTF-8">
    <title><th:text>sys.title.page</th:text></title>
    <link rel="stylesheet" type="text/css" href="/lib/bootStrap/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script type="text/javascript" src="/lib/jQuery/jQuery-3.4.1.js"></script>
    <sscript type="text/javascript" src="/lib/bootStrap/bootstrap-3.3.7-dist/js/bootstrap.js"></sscript>
    <sscript type="text/javascript" src="/js/base.js"></sscript>
</head>
<body>
    <h1>后台管理-角色管理</h1>


</body>
</html>