<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base th:href="${  #httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() }"/>
    <title th:text="#{page.title.system}"></title>
    <link type="text/css"  rel="stylesheet"  th:href="@{/lib/bootstrap-4.3.1-dist/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/lib/jQuery/jQuery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{lib/popper.js/dist/umd/popper.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap-4.3.1-dist/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootoast-master/dist/bootoast.min.js}"></script>
    <script type="text/javascript">

        function openSubWeb( path ){
            $('#ifmMain').attr('src', path);
        }

        $("#ifmMain").load(function () {
            var myiframeH = $(this).contents().find("body").height() + 30;
            $(this).height(myiframeH);
        });

    </script>
    <style>
        html,body { height: 100%;margin: 0; padding: 0;}
    </style>
</head>
<body background="/images/bg_index2.jpg"  style="overflow-y: hidden; ">


    <div style="height: 100%; background: rgba(0, 0, 0, 0.28); padding: 1%;">
        <div th:utext="${menuLists}" ></div>
        <br>
        <div class="card" style="height: 90% ; width: 100%;">
            <div class="card-body"style="height: 100%; width: 100%;" >
                <iframe id="ifmMain" th:src="@{/welcome}" frameborder="0" style="height: 100%; width: 100%;"></iframe>
            </div>
        </div>

    </div>


</body>
</html>